.introduction{
    padding-top: 1cm;
    text-align: center;
    color: #333;
}

form {
    padding-top: 1cm;
    padding-bottom: 1cm;
    display: inline;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
  }
#search {
  width: 60%;
}
#submit {
  display: inline;
}
p{
    text-align: center;
    width: 80%;
}
.lister{
    align-content: center;
}
button{
  background-color: dodgerblue;
  color: white;
  border-radius: 4px;
  border: none;

}
ul{
  list-style-type: none;
  text-align: center;
}
li{
  text-align: center;
  list-style-type: none;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.desc{
  padding-bottom: 2cm;
}
#clicker{
  padding-bottom: 2cm;
}
table, th, td {
  border: 1px solid black;
}

.text{
  font-style: italic;
}
h1:hover{
  text-decoration:underline;
  text-transform: uppercase;
}
h3:hover{
  color:blueviolet;
}

.nav-toggle:hover{
    
  text-transform: uppercase;
}
